#ifndef CONFIG_H
#define CONFIG_H

// WiFi credentials
const char* WIFI_SSID = "YOUR_WIFI_SSID";
const char* WIFI_PASSWORD = "YOUR_WIFI_PASSWORD";

// Flespi MQTT broker settings
const char* MQTT_BROKER = "mqtt.flespi.io";
const int MQTT_PORT = 1883;
const char* MQTT_TOKEN = "FlespiToken ikYVsz8cqHJusle4b2r6EjXKTmbx7ev7yQXedNLt308MH9ZpoQQ7po7JIkFthugL";  // Get from flespi.com

// TODO: Create a unique topic name for receiving commands
// Example: "iot-course/jd123/led/command"
const char* MQTT_TOPIC_COMMAND = "iot-course/rauchu01/led/command";

#endif
